<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=208.91.198.196;Initial Catalog=newepilpa;User ID=epilpa;Password=Newtech@009" providerName="System.Data.SqlClient"/>

    <!--<add name="ConnectionString" connectionString="Data Source=PERFECT2-PC\PERFECT2;Initial Catalog=db_New_Epilpa;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
